* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}

:root{
    --primary-color: #0091AD;
    --secondary-color: #FFF4E4;
}

body {
    text-align: center;
    font-size: 1.2rem;
}

header {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

.pad-3 {
    padding: 1%;
}

.pad-3 {
    padding: 3%;
}

.pad-5 {
    padding: 5%;
}

.navbar {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 3.5rem;
    padding: 0% 10%;
}

.navbar a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    padding: 14px;
}

.navbar a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
}

.cv {
    border-radius: 30%;
    width: 40%;
}

i.fab, i.fas {
    font-size: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    height: 80px;
    width: 80px;
    margin: 0% 36%;
}

.text-icon {
    padding-top: 10px;
    font-weight: 900;
    font-size: 40px;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 2%;
 }
 
 .education p {
     padding: 10px;
 }
 
 .timeline {
     display: grid;
     position: relative;
     grid-template-columns: repeat(2);
 }
 
 .event {
     border-radius: 20px;
     max-width: 450px;
     padding: 20px;
     margin: 20px;
 }

 .event-left::after {
     visibility: visible;
     z-index: 1;
     content: "";
     position: absolute;
     top: 0;
     bottom: 0;
     left: 50%;
     border-left: 3px solid var(--primary-color);
 }
 
 .event-right {
     justify-self: right;  
 }
 
 .event-left {
     justify-self: left;
 }

 .period {
    visibility: visible;
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    left: 47%;
    justify-self: center;
    background-color: var(--secondary-color);
    z-index:100;
    align-self: center;
    padding: 12px 0px;
    font-weight: 600;
}

.project {      
    border-radius: 20px;
    padding: 0px;
    margin: 20px;
    width: 400px;
}

.project:nth-child(odd){    
    background-color: var(--primary-color);  
}

.project a{
    text-decoration: none;
}

.project img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.portfolio-text {
    color: var(--secondary-color);
}

.button1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 20px;
    border: 0px;
}

.button1:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hid {
    display: none;
}

.footer {
    background-color: var(--secondary-color);
    text-align: center;
    margin-right: 0;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}
footer a:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

@media (max-width: 560px){
    body {
        font-size: 1.5rem;
    }

    .navbar {
        padding: 0% 1%;
        height: 4rem;
    }

    .period{
        position: relative;
        align-self: center;
        left: 0;
        width: 200px;
        height: 50px;
        background-color: transparent;
        padding: 5px 0px;
    }
    
    .event-right {
        justify-self: center;  
    }
    
    .event-left {
        justify-self: center;
    }

    .event-left::after {
        visibility: hidden;
    }
}

@media (min-width: 561px) and (max-width:767px) {
    body {
        font-size: 1.5rem;
    }

    .navbar {
        padding: 0% 1%;
        height: 4rem;
    }

    .period{
        position: relative;
        align-self: center;
        left: 0;
        width: 150px;
        height: 50px;
        background-color: transparent;
    }

    .event-right {
        justify-self: center;  
    }
    
    .event-left {
        justify-self: center;
    }

    .event-left::after {
        visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width:991px){
    .project {      
        width: 320px;
    }
    
    .period{
        position: relative;
        align-self: center;
        left: 0;
        width: 150px;
        height: 50px;
        background-color: transparent;
    }

    .event-right {
        justify-self: center;  
    }
    
    .event-left {
        justify-self: center;
    }

    .event-left::after {
        visibility: hidden;
    }
}

@media (min-width: 992px) and (max-width:1199px){

    .event img {
        width:90%;
    }

    .event {
        width: 350px;
    }

    .period {
        left: 46%;
    }
}

@media (min-width: 1200px){
    
}



